Q3. 파이썬은 우리의 명령을 이해하지 못했을 때, 친절하게 Error Message를 통해 어떤 명령을 이해하지 못했는지 알려줍니다.  그것을 보고 코드의 버그를 수정해가는 과정을 Debugging이라고 합니다. 이것은 코딩에 있어서 매우 중요합니다.

따라서, Error Message에 대해서 이해하는 시간을 가져봅시다.
강의에서는 SyntaxError, ValueError, TypeError 3가지가 등장했습니다.

    ①각각의 Error를 발생시키는 코드를 2가지씩 만들어보고

    ②Debugging한 코드도 만들어 봅시다.

    ③그리고 그 밖에 다른 Error도 3가지를 찾아 그 Error를 발생시키는 코드와

    ④Debugging한 코드를 1가지씩 만들어 봅시다.

In [ ]:

print('9999' + 999)

In [ ]:
print(int('9999') + 999)
print('9999' + str(999))

In [ ]:
exp = [1, 'two', '3', 4]
exp2 = []
for i in exp:
  exp2.append(i+1)
print(exp2)

In [ ]:
exp = [1, 2, int('3'), 4]
exp2 = []
for i in exp:
  exp2.append(i+1)
print(exp2)

In [ ]:
exp = [1, 2, int('3') 4]
exp2 = []
for i in exp:
  exp2.append(i+1)
print(exp2)

In [ ]:
exp = [1, 2, int('3'), 4]
exp2 = []
for i in exp
  exp2.append(i+1)
print(exp2)

In [ ]:
arr = ['a', 'b', 'c', 'd']
arr.index('e')

In [ ]:
arr = ['a', 'b', 'c', 'd']
arr.index('b')

In [ ]:
value_error = int('ValueError')
print(value_error)

In [ ]:
value_error = str('ValueError')
print(value_error)
value_error = int('8788')
print(value_error)

Q4. 강의에서 미국과 유럽의 엘리베이터 층수를 변환하는 프로그램이 나왔습니다.

그와 비슷하게 우리는 한국 나이를 미국 나이로 변환하는 프로그램을 코딩 해봅시다.

In [ ]:

from datetime import datetime

In [ ]:


def age_converter():
  print("이 프로그램은 한국 나이를 미국 나이로 변환합니다. \n한국 나이를 입력해 주십시오.")
  while 1:
    age = input()
    if age.isdigit() == False:
      print("나이는 숫자로 입력해 주십시오.")
    elif int(age) < 1:
      print("한국 나이로 신생아는 출생 즉시 1살이 됩니다.")
    else:
      break

  print("출생 월을 입력해 주십시오.")
  while 1:
    month = input()
    if month.isdigit() == False:
      print("월은 1~2자리의 숫자로 입력해 주십시오.")
    elif int(month) < 1 or int(month) > 12:
      print("출생 월은 1과 12 사이의 정수로 입력해 주십시오.")
    else:
      break

  print("출생 일을 입력해 주십시오.")
  while 1:
    day = input()
    if day.isdigit() == False:
      print("일은 1~2자리의 숫자로 입력해 주십시오.")
    elif int(day) < 1 or int(day) > 31:
      print("출생 일은 1과 31 사이의 정수로 입력해 주십시오.")
    else:
      break


  age = int(age)
  month = int(month)
  day = int(day)

  if month < datetime.today().month:
    if age == 1:
      age = age -1
    else:
      age = age - 2
  elif month == datetime.today().month:
    if day < datetime.today().day:
      if age == 1:
        age = age -1
      else:
        age = age - 2
    else:
      age = age -1 
  else:
    age = age - 1
  print("귀하의 미국 나이는 {}세입니다.".format(age))

In [ ]:
age_converter()