Q2.  여러분은 6명의 멤버를 거느리는 영업팀의 영업관리자 입니다. 각 멤버별로 올해 실적을 보고 잘한 멤버는 보너스를 주고 못한 멤버는 면담을 하려고 합니다. 파이썬을 이용하여 함수를 만들어 보너스 대상자와 면담 대상자를 골라주세요.

조건 1 - 예비 보너스 대상자는 평균 실적 1등 2등 입니다.

조건 2 - 예비 면담 대상자는 평균 실적 5등 6등 입니다.

조건 3 - 보너스 대상자의 평균 실적이 5보다 크지 않으면 보너스 대상자에서 제외 됩니다.

조건 4 - 면담 대상자의 평균 실적이 3보다 크면 면담 대상자에서 제외 됩니다.

In [ ]:
# 이름, 실적
member_names = ["갑돌이", "갑순이", "을돌이", "을순이", "병돌이", "병순이"]
member_records = [[4,5,3,5,6,5,3,4,1,3,4,5],[2,3,4,3,1,2,0,3,2,5,7,2], 
           [1,3,0,3,3,4,5,6,7,2,2,1],[3,2,9,2,3,5,6,6,4,6,9,9],
           [8,7,7,5,6,7,5,8,8,6,10,9],[7,8,4,9,5,10,3,3,2,2,1,3]]

In [ ]:
def sales_management(member_names, member_records):
  means = []
  for i in range(len(member_names)):
    means.append(sum(member_records[i]) / len(member_records[i]))

  bonus_1 = max(means)
  bonus_person_1 = member_names[means.index(bonus_1)]
  interview_1 = min(means)
  interview_person_1 = member_names[means.index(interview_1)]

  means_temp = means[:]
  means_temp.remove(bonus_1)
  means_temp.remove(interview_1)

  bonus_2 = max(means_temp)
  bonus_person_2 = member_names[means.index(bonus_2)]
  interview_2 = min(means_temp)
  interview_person_2 = member_names[means.index(interview_2)]

  if bonus_1 <= 5:
    print(f"보너스 대상자 : 없음")
  elif bonus_2 <= 5:
    print(f"보너스 대상자 : {bonus_person_1}")
  else:
    print(f"보너스 대상자 : {bonus_person_1}\n보너스 대상자 : {bonus_person_2}")

  if interview_1 > 3 and interview_2 > 3:
    print(f"면담 대상자 : 없음")
  elif interview_1 > 3 and interview_2 <= 3:
    print(f"면담 대상자 : {interview_person_2}")
  else:
    print(f"면담 대상자: {interview_person_1}\n면담 대상자 : {interview_person_2}")
    
sales_management(member_names, member_records)

보너스 대상자 : 병돌이
보너스 대상자 : 을순이
면담 대상자: 갑순이
면담 대상자 : 을돌이

Q3. 예금 금리가 너무 낮아서 주식을 시작했습니다. 아래와 같이 매수한 종목 이름, 수량, 매수 평균 금액이 있습니다. 판매가는 따로 주어집니다. 종목과 수익률만 출력하시고 종목별 수익률이 높은 순서대로 출력해주세요. (소수 둘째자리까지 출력)

In [ ]:
stocks = "삼성전자/10/85000,카카오/15/130000,LG화학/3/820000,NAVER/5/420000"
sells = [82000, 160000, 835000, 410000]

In [ ]:
def stock_profit(stocks, sells):
  stocks_list = stocks.split(",")
  stocks_list_num = []
  stocks_name = []

  for i in stocks_list:
    div = i.split("/")
    stocks_name.append(div[0])
    stocks_list_num.append(div[2])

  rate = []
  for i in range(len(stocks_list_num)):
    if sells[i] / int(stocks_list_num[i])>= 1:
      rate.append(100 * (sells[i] / int(stocks_list_num[i])-1))
    else:
      rate.append(-100 * (1 - (sells[i]/ int(stocks_list_num[i]) )))\

  name_rate = {}
  for i in range(len(rate)):
    name_rate[stocks_name[i]] = rate[i]
  
  name_rate_sort = sorted(name_rate.items(), reverse=True, key=lambda item: item[1])
  for i,j in name_rate_sort:
    print(f"{i}의 수익률 {j:.3}")

stock_profit(stocks, sells)

카카오의 수익률 23.1
LG화학의 수익률 1.83
NAVER의 수익률 -2.38
삼성전자의 수익률 -3.53